---
// Component Imports
import data from "../data.json"
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const ASSETS_PATH = "/assets/images/projects";
const title = 'Jose Berrios | Web Developer';


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style lang="scss" global>
		@import "../styles/global.scss";
		@import "../styles/home.scss";
	</style>
</head>
<body>
	<Header/>
	<div>
	{
	data.map(({title,img,tags,description,preview,code}) => (
		<Project title={title} img={img} tags={tags} description={description} preview={preview} code={code} />
  ))
  }
	</div>
</body>
</html>
