---
import data from "../data.json";

import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Footer from "../components/Footer.astro";
import Profile from "../components/Profile.astro";
import Experience from "../components/Experience.astro";

const title = 'Jose Berrios | Web Developer';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style lang="scss" global>
		@import "../styles/global.scss";
		@import "../styles/home.scss";
	</style>
</head>
<body>
	<Header/>
	<Profile/>
	<Experience/>
	<main class="main">
		{
			data.map(({title,img,tags,description,preview,code}) => (
				<Project
				 title={title}
				 img={img} 
				 tags={tags} 
				 description={description} 
				 preview={preview} 
				 code={code} 
				 />
			))
		}
	</main>
	<Footer/>
</body>
</html>
